In [341]:
import sqlalchemy as sqa
import pandas as pd
import pyodbc
import pymysql
import mysql.connector

In [342]:
username = 'root'
password = '1206'
host = 'localhost'
port = '3306'
database = 'online_banking'

url = 'mysql+pymysql://{0}:{1}@{2}:{3}/{4}'.format(username, password, host, port, database)
mysql_engine = sqa.create_engine(url)
mysql_engine

username = 'root'
password = '1206'
host = 'localhost'
port = '3306'
database = 'wh_online_banking'

url = 'mysql+pymysql://{0}:{1}@{2}:{3}/{4}'.format(username, password, host, port, database)
mysql_engine_2 = sqa.create_engine(url)
mysql_engine_2

Engine(mysql+pymysql://root:***@localhost:3306/wh_online_banking)

In [343]:
df = pd.read_sql_query("""
    SELECT *
    FROM customer_transactions
    WHERE customer_transactions.txn_date > COALESCE(
        (SELECT latest_txn_date FROM store_transaction),
        0
    );
""", mysql_engine)

In [344]:
df= pd.read_sql_query("""select *
from customer_transactions;""",mysql_engine)

In [345]:
print(df)

      customer_id    txn_date    txn_type  txn_amount
0             429  2020-01-21     deposit          82
1             155  2020-01-10     deposit         712
2             398  2020-01-01     deposit         196
3             255  2020-01-14     deposit         563
4             185  2020-01-29     deposit         626
...           ...         ...         ...         ...
5863          189  2020-02-03  withdrawal         870
5864          189  2020-03-22     deposit         718
5865          189  2020-02-06     deposit         393
5866          189  2020-01-22     deposit         302
5867          189  2020-01-27  withdrawal         861

[5868 rows x 4 columns]

In [346]:
## filter the new intserted data in Live database
query = f"""
    SELECT *
    FROM customer_transactions
    WHERE txn_date > (select latest_txn_date from store_transaction)
"""
df_2 = pd.read_sql_query(query, mysql_engine)

In [347]:
print(df_2)

Empty DataFrame
Columns: [customer_id, txn_date, txn_type, txn_amount]
Index: []

In [348]:
## appending the data and inserted data into the warehouse database
##if df.empty:
if df is not None and not df.empty:
    df.to_sql(
        name='customer_transactions',
        con=mysql_engine_2,
        if_exists='replace',
        index=False,
        method='multi',
        chunksize=1000
    )
else:
    df_2.to_sql(
        name='customer_transactions',
        con=mysql_engine_2,
        if_exists='append',  # Append new data
        index=False,
        method='multi',
        chunksize=1000
    )

In [349]:
## Truncate the Stored previous max date from the joining table
with mysql_engine.connect() as connection:
    connection.execute(sqa.text('TRUNCATE TABLE store_transaction;'))
    connection.commit()

In [350]:
## append the latest max date to the joining table
with mysql_engine.connect() as connection:
    connection.execute(sqa.text("""insert into store_transaction
select max(txn_date)
from customer_transactions;"""))
    connection.commit()

In [236]:
## full load
df.to_sql(
        name='customer_transactions',
        con=mysql_engine_2,
        if_exists='append',
        index=False,
        method='multi',
        chunksize=1000
    )

5869