In [172]:
import sqlalchemy as sqa
import pandas as pd
import pyodbc
import pymysql
import mysql.connector

In [173]:
username = 'root'
password = '1206'
host = 'localhost'
port = '3306'
database = 'online_banking'

url = 'mysql+pymysql://{0}:{1}@{2}:{3}/{4}'.format(username, password, host, port, database)
mysql_engine = sqa.create_engine(url)
mysql_engine

username = 'root'
password = '1206'
host = 'localhost'
port = '3306'
database = 'wh_online_banking'

url = 'mysql+pymysql://{0}:{1}@{2}:{3}/{4}'.format(username, password, host, port, database)
mysql_engine_2 = sqa.create_engine(url)
mysql_engine_2

Engine(mysql+pymysql://root:***@localhost:3306/wh_online_banking)

In [174]:
df = pd.read_sql_query("""
    SELECT *
    FROM customer_joining_info
    WHERE customer_joining_info.join_date > COALESCE(
        (SELECT max_joining_date FROM joining),
        0
    );
""", mysql_engine)

In [175]:
df= pd.read_sql_query("""select *
from customer_joining_info;""",mysql_engine)

In [176]:
print(df)

      customer_id  region_id  area_id   join_date
0               1        3.0      4.0  2020-01-02
1               2        3.0      5.0  2020-01-03
2               3        5.0      4.0  2020-01-27
3               4        5.0      4.0  2020-01-07
4               5        3.0      3.0  2020-01-15
...           ...        ...      ...         ...
3499          500        2.0      2.0  2020-04-15
3500          601        5.0      1.0  2020-12-01
3501          602        NaN      NaN  2020-12-02
3502          603        NaN      NaN  2020-12-03
3503          604        NaN      NaN  2020-12-04

[3504 rows x 4 columns]

In [177]:
## filter the new intserted data in Live database
query = f"""
    SELECT *
    FROM customer_joining_info
    WHERE join_date > (select max_joining_date from joining)
"""
df_2 = pd.read_sql_query(query, mysql_engine)

In [178]:
print(df_2)

Empty DataFrame
Columns: [customer_id, region_id, area_id, join_date]
Index: []

In [179]:
## appending the data and inserted data into the warehouse database
if df.empty:
    df.to_sql(
        name='customer_joining_info',
        con=mysql_engine_2,
        if_exists='append',
        index=False,
        method='multi',
        chunksize=1000
    )
else:
    df_2.to_sql(
        name='customer_joining_info',
        con=mysql_engine_2,
        if_exists='append',  # Append new data
        index=False,
        method='multi',
        chunksize=1000
    )

In [180]:
## Truncate the Stored previous max date from the joining table
with mysql_engine.connect() as connection:
    connection.execute(sqa.text('TRUNCATE TABLE joining;'))
    connection.commit()

In [181]:
## append the latest max date to the joining table
with mysql_engine.connect() as connection:
    connection.execute(sqa.text("""insert into joining
select max(join_date)
from customer_joining_info;"""))
    connection.commit()