In [21]:
import sqlalchemy as sqa
import pandas as pd
import pyodbc
import pymysql
import mysql.connector

In [22]:
username = 'root'
password = '1206'
host = 'localhost'
port = '3306'
database = 'online_banking'

url = 'mysql+pymysql://{0}:{1}@{2}:{3}/{4}'.format(username, password, host, port, database)
mysql_engine = sqa.create_engine(url)
mysql_engine

username = 'root'
password = '1206'
host = 'localhost'
port = '3306'
database = 'wh_online_banking'

url = 'mysql+pymysql://{0}:{1}@{2}:{3}/{4}'.format(username, password, host, port, database)
mysql_engine_2 = sqa.create_engine(url)
mysql_engine_2

Engine(mysql+pymysql://root:***@localhost:3306/wh_online_banking)

In [23]:
df = pd.read_sql_query("""
    SELECT *
    FROM area
    WHERE area.area_id > COALESCE(
        (SELECT latest_area FROM store_area),
        0
    );
""", mysql_engine)

In [24]:
df= pd.read_sql_query("""select *
from area;""",mysql_engine)

In [25]:
print(df)

   area_id        name
0        1       Union
1        2     Upazila
2        3  Pouroshova
3        4        Ward
4        5     Village

In [26]:
## filter the new intserted data in Live database
query = f"""
    SELECT *
    FROM area
    WHERE area_id > (select latest_area from store_area)
"""
df_2 = pd.read_sql_query(query, mysql_engine)

In [17]:
print(df_2)

   area_id  name
0        6  None

In [18]:
## appending the data and inserted data into the warehouse database
##if df.empty:
if df is not None and not df.empty:
    df.to_sql(
        name='area',
        con=mysql_engine_2,
        if_exists='replace',
        index=False,
        method='multi',
        chunksize=1000
    )
else:
    df_2.to_sql(
        name='area',
        con=mysql_engine_2,
        if_exists='append',  # Append new data
        index=False,
        method='multi',
        chunksize=1000
    )

In [19]:
## Truncate the Stored previous max date from the joining table
with mysql_engine.connect() as connection:
    connection.execute(sqa.text('TRUNCATE TABLE store_area;'))
    connection.commit()

In [20]:
## append the latest max date to the joining table
with mysql_engine.connect() as connection:
    connection.execute(sqa.text("""insert into store_area
select max(area_id)
from area;"""))
    connection.commit()

In [236]:
## full load
df.to_sql(
        name='customer_transactions',
        con=mysql_engine_2,
        if_exists='append',
        index=False,
        method='multi',
        chunksize=1000
    )

5869