In [20]:
import sqlalchemy as sqa
import pandas as pd
import pyodbc
import pymysql
import mysql.connector

In [22]:
username = 'root'
password = '1206'
host = 'localhost'
port = '3306'
database = 'online_banking'

url = 'mysql+pymysql://{0}:{1}@{2}:{3}/{4}'.format(username, password, host, port, database)
mysql_engine = sqa.create_engine(url)
mysql_engine

username = 'root'
password = '1206'
host = 'localhost'
port = '3306'
database = 'wh_online_banking'

url = 'mysql+pymysql://{0}:{1}@{2}:{3}/{4}'.format(username, password, host, port, database)
mysql_engine_2 = sqa.create_engine(url)
mysql_engine_2

Engine(mysql+pymysql://root:***@localhost:3306/wh_online_banking)

In [13]:
df = pd.read_sql_query("""
    SELECT *
    FROM customer_joining_info
    WHERE customer_joining_info.join_date > COALESCE(
        (SELECT max_joining_date FROM joining),
        0
    );
""", mysql_engine)

In [23]:
df= pd.read_sql_query("""select *
from customer_joining_info;""",mysql_engine)

In [24]:
print(df)

      customer_id  region_id  area_id   join_date
0               1          3        4  2020-01-02
1               2          3        5  2020-01-03
2               3          5        4  2020-01-27
3               4          5        4  2020-01-07
4               5          3        3  2020-01-15
...           ...        ...      ...         ...
3495          496          3        4  2020-02-25
3496          497          5        4  2020-05-27
3497          498          1        2  2020-04-05
3498          499          5        1  2020-02-03
3499          500          2        2  2020-04-15

[3500 rows x 4 columns]

In [16]:
## filter the new intserted data in Live database
query = f"""
    SELECT *
    FROM customer_joining_info
    WHERE join_date > (select max_joining_date from joining)
"""
df_2 = pd.read_sql_query(query, mysql_engine)

In [17]:
print(df_2)

Empty DataFrame
Columns: [customer_id, region_id, area_id, join_date]
Index: []

In [18]:
## appending the data and inserted data into the warehouse database
##if df.empty:
if df is not None and not df.empty:
    df.to_sql(
        name='customer_joining_info',
        con=mysql_engine_2,
        if_exists='append',
        index=False,
        method='multi',
        chunksize=1000
    )
else:
    df_2.to_sql(
        name='customer_joining_info',
        con=mysql_engine_2,
        if_exists='append',  # Append new data
        index=False,
        method='multi',
        chunksize=1000
    )

In [19]:
## Truncate the Stored previous max date from the joining table
with mysql_engine.connect() as connection:
    connection.execute(sqa.text('TRUNCATE TABLE joining;'))
    connection.commit()

In [10]:
## append the latest max date to the joining table
with mysql_engine.connect() as connection:
    connection.execute(sqa.text("""insert into joining
select max(join_date)
from customer_joining_info;"""))
    connection.commit()

In [25]:
##full load
print(df)

df.to_sql(
        name = 'customer_joining_info',
        con = mysql_engine_2,
        if_exists = 'replace',
        index = False,
        method = 'multi',
        chunksize = 1000
)

      customer_id  region_id  area_id   join_date
0               1          3        4  2020-01-02
1               2          3        5  2020-01-03
2               3          5        4  2020-01-27
3               4          5        4  2020-01-07
4               5          3        3  2020-01-15
...           ...        ...      ...         ...
3495          496          3        4  2020-02-25
3496          497          5        4  2020-05-27
3497          498          1        2  2020-04-05
3498          499          5        1  2020-02-03
3499          500          2        2  2020-04-15

[3500 rows x 4 columns]

3500